h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50px 1fr 1fr 50px;
}

.column {
  text-align: center;
}

.column-left {
  grid-column: 2/3;
}

.results {
  grid-column: 2/3;
}

.displayed-results > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.displayed-results > ul > li {
  padding: 0.5rem 1rem;
}
