h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50px 2fr 2fr 1fr 1fr 50px;
}

.second-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  margin-top: 0.5rem;
}

.list {
  grid-column: 2/4;
  background-color: white;
  border-radius: 6px;
}

.sc-bwzfXH {
  padding: 0.2rem 0.6rem;
  text-align: center
}

.column-left {
  grid-column: 2/3;
}

.middle-column {
  grid-column: 3/4
}

.column-right {
  grid-column: 4/5;
  width: 50%;
  align-items: center;
}

.displayed-results > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.displayed-results > ul > li {
  padding: 0.5rem 1rem;
}

.react-calendar {
  position: absolute;
}


